@page "/Profile/{profileId}"

@inherits ProfileViewHandler
<AuthorizeView Context="authContext"> 
<Authorized>
        <div class="container">            
            <div class="err-card @(IsAnyError)">
                @foreach(var err in Messages) {
                    <div class="err-info" style="background-color:@(err.Type == MessageType.Error ? "rgba(256,100,0,1)" : "rgba(0,100,256,1)");" @onclick="() =>CloseNotification(err)">
                        <div class="err-body">
                            <div style="font:14px;">@err.Code</div>
                            <div style="font:12px;">@err.Description</div>
                        </div>
                        <div class="err-control center">
                            <button class="err-btn btn-close"></button>
                        </div>
                    </div>
                }
            </div>
            <div class="profile">
                <div class="info">
                    <div class="logo"></div>
                    <div class="user-data">
                        <div>@ProfileId</div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="description">
                    <p>Hi There ! </p>
                    <p>I am a web developer.</p>
                    <p>my ... are :</p>
                    <ul>
                        <li>C#</li>
                        <li>Asp.net Core</li>
                    </ul>
                </div>
                <div class="dropdown-divider"></div>
                <div class="controls">
                    @if(CanShowButton) {
                        <button class="btn btn-outline-info" @onclick="OnButtonClick">@ButtonName</button>
                    }  
                </div>
            </div>
        </div>
</Authorized>
<NotAuthorized><Client.ChatApp.Pages.Accounts.Login /></NotAuthorized>

</AuthorizeView>