@inherits NavMenuViewHandler


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" @onclick="GoToHomePage">@menuName @UserNameClaim</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView>
    <Authorized>
        @if(!isChatsMenuSelected) {

            <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
                <nav class="flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="chats" @onclick="()=> GoToChatsPage()">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chats
                        </NavLink>
                    </div>
                </nav>
            </div>
        }
        else {
            <div class="chat_items_sidebar">

                <div class="chat_items p-1">
                    <div class="chat_item @(Cloud == CurrentItem ? "selected" : "" )" 
                    style="background-color:rgba(100,5,200,.1);"
                    @onclick="()=> OnItemClicked(Cloud)">
                        <div class="chat_item_logo">
                             Img
                            <div class="chat_item_status online"></div>
                        </div>
                        <div class="chat_item_name">@Cloud.DisplayName</div>
                    </div>
                    <div class="item-divider"></div>
                    @foreach(var item in ChatAccounts) {
                        <div class="chat_item @(item == CurrentItem ? "selected" : "" )" @onclick="()=> OnItemClicked(item)">
                            <div class="chat_item_logo">
                                @if(item.UnReadMessages > 0) {
                                    <div>@item.UnReadMessages</div>
                                }
                                else {
                                    <div>img</div>
                                }
                                <div class="chat_item_status"></div>
                            </div>
                            <div class="chat_item_name"> @item.DisplayName</div>
                        </div>
                    }
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>